
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Style  */
 .text-primary{
    color: #4E47FF;
   
 }
  h2{
    color: #252432;
  }
 .btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    font-weight: normal;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
 }
   .btn-primary:hover{
    background-color: #2980b9;
  transform: scale(1.05); 
 }
 .header{  
    
  background-image: url('../Assets/Hero-bg.png'); 
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
    
 }
/* Nav Styles */
nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}

nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-size: 54px;
    font-weight: 900;
}

nav ul li{
 list-style: none;
}

/* banner section */
.banner{
    margin-top: 50px;
   padding: 200px 267.5px 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
 
}
.section-title {  
  font-size: 85px; 
  font-weight: bold; 
  color: #252432; 
  line-height: 1.3;
  text-align: center; 
  margin-bottom: 37px; 
}
/* action section */
.action{
  display: flex;
  justify-content: space-around;
  margin: 116px 160px 140px;
}
.action-container{
  padding: 62px;
}
.action-container h2{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.action-container p{
  font-size: 24px;
  font-weight: 400;
  color: #25243280;
  margin-bottom: 23px;
}
.action-img{
  border-radius: 50px;
}

/* user section */
.user {
  background-color: #4E47FF1A;
  margin: 116px 450px 137px;
  border-radius: ;
  padding: 40px 100px;
  border-radius: 30px;
}
.user h2{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  
}
.number-container ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
}
.number-container li {
  list-style: none; 
  margin-bottom: 0; 
  text-align: center;
}
.number-container h1{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0,9px,24px;

}
.number-container p{
  color: #00000080;
  font-size: 20px;
  margin-top: 0px;
  line-height: 1.2;
}
.number-container br {
  display: none; 
}
